{#
/**
 * @file event_ticket.html.twig
 * Default theme implementation to present Ticket data.
 *
 * This template is used when viewing Ticket pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_ticket()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('event_ticket') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
